.knapp{
  background-color: #7289DA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  width: 170px;
  height: 50px;
  left: 163px;
  top: 486px;

  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
.knapp:hover {

}
.knapp:active {
                                         
}

.content{
  height: 89vh;
  background-color: grey; 
  
}

.navBar{
  display: flex;
  justify-content: space-around;
}

.navButton{
  line-height: 11vh;
  text-align: center;
  flex-grow: 1;
  height: 11vh;
}

.ingredientBox{
width: 400px;
height: 125px;
left: 48px;
top: 164px;

background: #34495A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main{
  margin: auto;
  width: 50%;
  border: 1px solid black;
  padding: 10px;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
}

.green{
  background-color: green;
  height: 89vh;
}

.red{
  background-color: red;
  height: 89vh;
}

.blue {
  background-color: blue;
  height: 89vh;
}

.isSelected {
  background-color: black;
}
#namnge{
  width: 100%;
}

.textInput {
  height: 5vh;
  background-color: whitesmoke;
  width: 20vw;
}

.dropdown {
  height: 5vh;
  background-color: #7289DA;
  width: 20vw;
}

.dropdown-content {

}

.quickConvert {

}